a {
  text-decoration: none !important;
  /* color: inherit !important; */
}
a :hover {
  color: #50b1d3 !important;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2 !important;
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand a {
  color: #f2f2f2;
}
.modal-message {
  color: white;
    background: green;
    padding: 10px;
    border-radius: 5px;
}